/* main.css */
body {
background-color:#fef7ea;
}
table {
  text-align: center;
}
label {
  width:10em;
  display:inline-block;
}
input {
  text-align: right;
  width:9.5em;
}
#submitbutton {
  text-align:center;
}
#editdatefields input {
display:inline-block;
text-align:center;
}
#measurementDay, #measurementMonth {
width:3em;
}
#measurementYear {
width:5em;
}