<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <title th:text="${{GenMap.hTitle}}">Add Belly Measurement</title>
</head>
<body>
<div th:insert="fragments/header :: navbar"></div>
<div class="container">
    <div class="container">
        <!--th:action defines the url to where to send the data of our form. Our controller will pick this up-->
        <!--method is to say wich http method it will use-->
        <p th:text="${{GenMap.hTitle}}">placeholder</p>
        <p th:text="${{GenMap.hFormActionUrl}}">placeholder</p>
        <form th:action="${{GenMap.hFormActionUrl}}" method="post">
            <div class="form-group" th:each="row : ${GenMap.hList}">
                <label th:for="${{row[0]}}" th:text="${{row[0]}}">Buikvetomtrek</label>
                <input type="text" class="form-control" th:id="${{row[0]}}" th:name="${{row[1]}}">
            </div>

            <div class="form-group" id="editdatefields">
                <label for="bellyDay">Date</label>
                <input type="text" class="form-control" id="bellyDay" name="day" value="0">
                <input type="text" class="form-control" id="bellyMonth" name="month" value="0">
                <input type="text" class="form-control" id="bellyYear" name="year" value="0">
            </div>

            <input type="submit" class="btn btn-primary" value="save">
        </form>
    </div>
</div>
</body>
</html>