<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title})">
    <title>Edit Belly Measurement</title>
</head>
<body>
<div th:insert="fragments/header :: navbar"></div>
<div class="container">
    <div class="container">
        <!--th:action defines the url to where to send the data of our form. Our controller will pick this up-->
        <!--method is to say wich http method it will use-->
        <form th:action="@{/healthmesurements/editBellyM}" method="post">
            <div class="form-group">
                <label for="bellyCircumRef">Buikomtrek</label>
                <input type="text" class="form-control" id="bellyCircumRef" name="circumRef" th:value="${belly.circumRef}">
                <input type="hidden" class="form-control" id="bellyId" name="mesureId" th:value="${belly.mesureId}">
                <br>
            </div>
            <div class="form-group" id="editdatefields">
                <label for="bellyDay">Datum</label>
                <input type="text" class="form-control" id="bellyDay" name="day" th:value="${belly.day}">
                <input type="text" class="form-control" id="bellyMonth" name="month" th:value="${belly.month}">
                <input type="text" class="form-control" id="bellyYear" name="year" th:value="${belly.year}">
            </div>

            <input type="submit" class="btn btn-primary" value="save">
        </form>
    </div>
</div>
</body>
</html>